@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}

body {
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  background-color: #1f2937;
  padding-left: 100px;
  padding-right: 100px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0px;
  margin: 0;
}

li.Logo {
  margin-right: auto;
}

nav a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.Logo a {
  font-size: 24px;
  color: #f9faf8;
}

.hero {
  background-color: #1f2937;
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-content {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  text-align: left;
}
h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  margin: 0;
}
.hero-content p {
  font-size: 18px;
  color: #e5e7ebl;
}
.img-box img {
  max-width: 500px;
  height: 300px;
}
.img-box {
  height: 300px;
  max-width: 500px;
  background-color: lightgray;
}

button {
  background-color: #3882f6;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 4px;
  max-width: 75px;
  padding: 10px;
}
footer {
  background-color: #1f2937;
}
